.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.faq h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */
  text-align: center;
  color: var(--color-heading-text);
  text-transform: uppercase;
  padding: 156px 0 56px 0;
}
.faqs {
  width: 970px;
  height: 79px;
  box-shadow: 0px 4px 29px rgba(11, 18, 23, 0.04),
    0px 0.500862px 3.63125px rgba(11, 18, 23, 0.02);
  border-radius: 3px;
  margin: 0 0 16px 0;
  position: relative;
}
.faqs h2 {
  padding: 24px 0 24px 34px;
  color: var(--color-heading-text);
  font-size: 24px;
}
.faqs:first-of-type {
  margin-top: 56px;
}
.faq-box {
  margin: 156px 0;
  display: flex;
  flex-direction: column;
  width: 970px;
  height: 459px;
  box-shadow: 0px 4px 57px rgba(24, 30, 37, 0.05),
    0px 0.500862px 7.13728px rgba(24, 30, 37, 0.025);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.faq-box h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */
  text-align: center;
  color: var(--color-heading-text);
  margin-top: 100px;
}
.faq-box p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */
  text-align: center;
  color: rgb(25, 197, 117);
}
.faq-box p::first-line {
  color: var(--color-heading-text);
}
.MuiPaper-root {
  margin: 0 0 16px 0 !important;
  width: 970px;
  height: 79px;
  box-shadow: 0px 4px 29px rgba(11, 18, 23, 0.04),
    0px 0.500862px 3.63125px rgba(11, 18, 23, 0.02) !important;
  border-radius: 3px !important;
  position: relative !important;
}
.MuiAccordionSummary-content.Mui-expanded {
  margin: 0;
}
.MuiPaper-root.Mui-expanded {
  width: 970px;
  height: 128px;
  margin: 0;
  padding: 0;
}
.MuiCollapse-root {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #747474;
  padding: 0px 0 32px 40px;
}
.MuiAccordion-root:before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  content: none;
  opacity: 0;
  background-color: none;
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiAccordionSummary-content {
  padding: 24px 40px 0 40px;
  margin: 0;
}
.MuiAccordionSummary-content .MuiTypography-root {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}
.MuiSvgIcon-root {
  width: 50px;
  height: 35px;
  color: #2187d0;
  margin-top: 15px;
}

.v3 {
  background-image: url(../images/Vector3.png);
  background-repeat: no-repeat;
  width: 71px;
  height: 152px;
  position: absolute;
  left: 94.5%;
  top: 235px;
}
.v4 {
  background-image: url(../images/Vector4.png);
  background-repeat: no-repeat;
  width: 96px;
  height: 135px;
  position: absolute;
  left: -10px;
  right: 91.71%;
  top: 418px;
  bottom: 10.04%;
}
.faq button {
  background: white;
  position: absolute;
  top: 35px;
  right: 46px;
}
